<div class="container">
  <%= render "form", sea: @sea %>

  <div class="text-center row" style="margin: 1em">
    <div class="col-sm-1">
      <button class="btn btn-info" style="margin: 0 auto"><a href="/seas/<%=@sea.id%>">Back</a></button>
    </div>
    <div class="col-sm-1">
    <button class="btn btn-info" style="margin: 0 auto"><a class="btn-info" href="/seas">All Seas</a></button>
    </div>
    <div class="col-sm-9">
    </div>
    <div class="col-sm-1">
    <form action="/seas/<%=@sea.id%>/delete" method="post" style="margin: 0 auto">
        <input class="btn btn-danger" type="submit" value="Delete"/>
    </form>
    </div>
  </div>
</div>
