<div class="container">
  <%= render "form", sea: @sea %>

  <div class="text-center">
    <%= link_to "All Seas", seas_path, class: "btn btn-info", style: "margin: 1em; color: white;" %>
  </div>
</div>
